{% extends "base.html" %}

{% block main %}

  {% include 'flash_messages.html' %}
  <div class="gridview">
      {% for user in users %}
         {% for image_name in image_names %}
            {% if user.photo_name ==  image_name %}
            <div class="container" id="containerid">
	<div class="row">
		<div class="span4 well">
            <div class="row">
        		<div class="span1" id="spacediv"><img class= "userimg" src="{{url_for('static', filename='uploads/'+image_name)}}" /></div>
        		<div class="span2" id="spacediv">
                  	<p><strong>{{ user.first_name }} {{ user.last_name }}</strong></p>
                  	<p><span class="glyphicon glyphicon-user one" style="width:50px;"></span>{{ user.gender }}</p>
                    <p><span class="glyphicon glyphicon-map-marker one" style="width:50px;"></span>{{ user.location }}</p>
        		</div>
        		<div id="spacediv"><a class="span3" href="{{ url_for('user_profile', filename= user.id ) }}"><button type="button" class="btn btn-success" >View Profile</button></a></div>
        	</div>
        </div>
	</div>
</div>
            {% endif %}
    
        {% endfor %}
      
      {% endfor %}
    
    </div>


{% endblock %}